---
import { Image } from "astro:assets";
import hero from "../assets/hero.jpg";
import bulkdb from "../assets/bulkdb.jpg";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import symphony from "../assets/symphony.jpg";
import dailyquote from "../assets/dailyquote.jpg";

const currentYear = new Date().getFullYear();

const projectDetails = [
  {
    image: bulkdb,
    alt: "bulkdb",
    title: "Bulkdb",
    desc: "Bulkdb is a way to track my daily weight and my workouts in a simple and easy way.",
    href: "https://github.com/eeturonkko/bulkdb",
  },
  {
    image: symphony,
    alt: "symphony",
    title: "Symphony",
    desc: "Symphony is a web application designed to enhance your Spotify experience.",
    href: "https://github.com/eeturonkko/symphony",
  },
  {
    image: dailyquote,
    alt: "dailyquote",
    title: "Daily Quote",
    desc: "Daily Quote is a web application that provides you with a daily dose of inspiration and motivation.",
    href: "https://github.com/eeturonkko/daily-quote",
  },
];
---

<Layout title="Erwd - Fullstack web development ">
  <!-- Hero section-->
  <section
    id="about"
    class="hidden md:flex flex-col md:flex-row items-center space-y-6 mx-auto bg-slate-900 text-white"
  >
    <Image
      src={hero}
      alt="sahko"
      class="w-full md:w-1/2 h-auto animate-clip-path-alt"
    />
    <div class="flex flex-col md:w-1/2">
      <h2 class="text-4xl md:text-6xl font-bold my-4 md:my-6">
        Hello, my name is Eetu
      </h2>
      <p class="text-lg md:text-xl font-semibold typewriter-effect">
        I am a Full Stack Web Developer <span class="text-red-700">/</span> Security
        System Specialist
      </p>
    </div>
  </section>

  <!-- Hero section for mobile-->
  <section
    id="about-mobile"
    class="relative flex md:hidden flex-col items-center justify-center text-center text-white"
  >
    <Image
      src={hero}
      alt="sahko"
      class="w-full md:w-1/2 h-auto brightness-50"
    />
    <div class="absolute inset-0 flex flex-col items-center justify-center">
      <h2 class="text-3xl font-bold">Hello, my name is Eetu</h2>
      <p class="text-xs font-semibold typewriter-effect-mobile">
        I am a Full Stack Web Developer <span class="text-red-700">/</span> Security
        System Specialist
      </p>
    </div>
  </section>

  <!-- Skills Section -->
  <section id="skills" class="bg-white py-12">
    <div class="container mx-auto px-4">
      <div class="text-center mb-12">
        <h2
          class="text-4xl text-slate-900 md:text-5xl font-extrabold text-center"
        >
          My Skills
        </h2>
        <p class="text-gray-600 mt-4">
          A blend of Security Systems Expertise and Full-Stack Web Development
        </p>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
        <!-- Security Systems Skills -->
        <div class="bg-gray-100 shadow-md rounded-lg p-6">
          <h3
            class="text-xl text-center md:text-start md:text-2xl font-semibold mb-4"
          >
            Security Systems Expertise
          </h3>
          <ul class="space-y-4">
            <li class="flex items-center">
              <div class="bg-blue-500 text-white p-2 rounded-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-lock-keyhole"
                  ><circle cx="12" cy="16" r="1"></circle><rect
                    x="3"
                    y="10"
                    width="18"
                    height="12"
                    rx="2"></rect><path d="M7 10V7a5 5 0 0 1 10 0v3"
                  ></path></svg
                >
              </div>
              <span class="ml-4 text-sm md:text-lg font-medium"
                >Access Control Systems (AbloyOS, Flexim 5, Lenel OnGuard)</span
              >
            </li>
            <li class="flex items-center">
              <div class="bg-blue-500 text-white p-2 rounded-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-bell-ring"
                  ><path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"
                  ></path><path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"></path><path
                    d="M4 2C2.8 3.7 2 5.7 2 8"></path><path
                    d="M22 8c0-2.3-.8-4.3-2-6"></path></svg
                >
              </div>
              <span class="ml-4 text-sm md:text-lg font-medium"
                >Alarm Systems Installation & Management (HHL-C)</span
              >
            </li>
            <li class="flex items-center">
              <div class="bg-blue-500 text-white p-2 rounded-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-cctv"
                  ><path
                    d="M16.75 12h3.632a1 1 0 0 1 .894 1.447l-2.034 4.069a1 1 0 0 1-1.708.134l-2.124-2.97"
                  ></path><path
                    d="M17.106 9.053a1 1 0 0 1 .447 1.341l-3.106 6.211a1 1 0 0 1-1.342.447L3.61 12.3a2.92 2.92 0 0 1-1.3-3.91L3.69 5.6a2.92 2.92 0 0 1 3.92-1.3z"
                  ></path><path d="M2 19h3.76a2 2 0 0 0 1.8-1.1L9 15"
                  ></path><path d="M2 21v-4"></path><path d="M7 9h.01"
                  ></path></svg
                >
              </div>
              <span class="ml-4 text-sm md:text-lg font-medium"
                >CCTV Systems Installation & Monitoring (Axis, Bosch, Hikvision)</span
              >
            </li>
          </ul>
        </div>

        <!-- Full-Stack Web Development Skills -->
        <div class="bg-gray-100 shadow-md rounded-lg p-6">
          <h3
            class="text-xl text-center md:text-start md:text-2xl font-semibold mb-4"
          >
            Full-Stack Web Development
          </h3>
          <ul class="space-y-4">
            <li class="flex items-center">
              <div class="bg-green-500 text-white p-2 rounded-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-code-xml"
                  ><path d="m18 16 4-4-4-4"></path><path d="m6 8-4 4 4 4"
                  ></path><path d="m14.5 4-5 16"></path></svg
                >
              </div>
              <span class="ml-4 text-sm md:text-lg font-medium"
                >Frontend Development (HTML, CSS, JavaScript)</span
              >
            </li>
            <li class="flex items-center">
              <div class="bg-green-500 text-white p-2 rounded-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-database"
                  ><ellipse cx="12" cy="5" rx="9" ry="3"></ellipse><path
                    d="M3 5V19A9 3 0 0 0 21 19V5"></path><path
                    d="M3 12A9 3 0 0 0 21 12"></path></svg
                >
              </div>
              <span class="ml-4 text-sm md:text-lg font-medium"
                >Backend Development (Node.js, Express, APIs, SQL, MongoDB)</span
              >
            </li>
            <li class="flex items-center">
              <div class="bg-green-500 text-white p-2 rounded-full">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-book-text"
                  ><path
                    d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H19a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H6.5a1 1 0 0 1 0-5H20"
                  ></path><path d="M8 11h8"></path><path d="M8 7h6"></path></svg
                >
              </div>
              <span class="ml-4 text-sm md:text-lg font-medium"
                >Frameworks & Libraries (Next.js, React, SvelteKit, Astro)</span
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Portfolio section-->
  <section id="portfolio" class="bg-gray-100 py-12">
    <div class="container mx-auto px-4">
      <div class="text-center mb-12">
        <h2
          class="text-4xl text-slate-900 md:text-5xl font-extrabold text-center"
        >
          My Projects
        </h2>
        <p class="text-gray-600 mt-4">A selection of my recent work</p>
      </div>
      <div
        class="flex flex-col items-center md:grid md:grid-cols-3 gap-6 md:gap-2"
      >
        {projectDetails.map((project) => <Card {...project} />)}
      </div>
    </div>
  </section>

  <!-- Contact section-->
  <section id="contact" class="text-white py-16">
    <div class="container mx-auto px-4">
      <div class="text-center mb-12">
        <h2
          class="text-4xl text-slate-900 md:text-5xl font-extrabold text-center"
        >
          Let's Connect
        </h2>
        <p class="text-gray-600 my-3 md:mt-4 md:mb-0 text-md text-balance">
          Have a question or want to work together? Feel free to reach out!
        </p>
        <p class="text-gray-600 text-md text-balance">
          I am always open to new opportunities and collaborations.
        </p>
      </div>
      <div
        class="max-w-md mx-auto bg-white text-slate-900 shadow-lg rounded-lg overflow-hidden"
      >
        <div class="px-6 py-8">
          <div
            class="flex items-center justify-center space-x-2 text-slate-600 mb-6"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
              ></path>
            </svg>
            <span class="text-lg">ronkko.erwd@gmail.com</span>
          </div>
          <div class="flex justify-center space-x-6">
            <a
              href="https://www.linkedin.com/in/eetu-r%C3%B6nkk%C3%B6-433289246/"
              target="_blank"
              rel="noopener noreferrer"
              class="text-blue-700 hover:text-blue-900 transition-colors"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-8 w-8"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
                ></path>
              </svg>
              <span class="sr-only">LinkedIn</span>
            </a>
            <a
              href="https://github.com/eeturonkko"
              target="_blank"
              rel="noopener noreferrer"
              class="text-slate-700 hover:text-slate-900 transition-colors"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-8 w-8"
                fill="currentColor"
                viewBox="0 0 24 24"
              >
                <path
                  d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                ></path>
              </svg>
              <span class="sr-only">GitHub</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="bg-slate-900 text-white py-6">
    <div class="container mx-auto text-center space-y-4 md:space-y-2">
      <p>&copy; {currentYear} ERWD</p>
    </div>
  </footer>
</Layout>

<style>
  section {
    scroll-margin-top: 90px;
  }
  @keyframes clipPathAnimationAlt {
    from {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    to {
      clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
    }
  }
  .animate-clip-path-alt {
    animation: clipPathAnimationAlt 0.6s ease-out forwards;
  }

  .typewriter-effect {
    max-width: 58%;
    border-right: 0.15rem solid #b91c1c;
    white-space: nowrap;
    overflow: hidden;
    animation:
      blinking 0.8s infinite,
      typing 1.8s steps(35, end) forwards;
  }

  .typewriter-effect-mobile {
    max-width: 89%;
    border-right: 0.15rem solid #b91c1c;
    white-space: nowrap;
    overflow: hidden;
    animation:
      blinking 0.8s infinite,
      typing 1.8s steps(35, end) forwards;
  }

  @keyframes blinking {
    from {
      border-color: transparent;
    }
    50% {
      border-color: #b91c1c;
    }
    to {
      border-color: transparent;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
</style>
