---
import { Image } from 'astro:assets';
import hero from '../assets/hero.jpg';
import bulkdb from '../assets/bulkdb.jpg';
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import symphony from '../assets/symphony.jpg';
import dailyquote from '../assets/dailyquote.jpg';

const currentYear = new Date().getFullYear();

const projectDetails = [{
  image: bulkdb,
  alt: 'bulkdb',
  title: 'Bulkdb',
  desc: 'Bulkdb is a way to track my daily weight and my workouts in a simple and easy way.',
  href: 'https://github.com/eeturonkko/bulkdb'
},
{
  image: symphony,
  alt: 'symphony',
  title: 'Symphony',
  desc: 'Symphony is a web application designed to enhance your Spotify experience.',
  href: 'https://github.com/eeturonkko/symphony'
},
{
  image: dailyquote,
  alt: 'dailyquote',
  title: 'Daily Quote',
  desc: 'Daily Quote is a web application that provides you with a daily dose of inspiration and motivation.',
  href: 'https://github.com/eeturonkko/daily-quote'
}];

---

<Layout title="Erwd - Fullstack web development ">
  <!-- Hero section-->
  <section
  id="about"
  class="hidden md:flex flex-col md:flex-row items-center space-y-6 mx-auto bg-slate-900 text-white"
> 
  <Image
    src={hero}
    alt="sahko"
    class="w-full md:w-1/2 h-auto animate-clip-path-alt"
  />
  <div class="flex flex-col md:w-1/2">
    <h2 class="text-4xl md:text-6xl font-bold my-4 md:my-8 ">Hello, my name is Eetu</h2>
    <p class="text-lg md:text-xl font-semibold typewriter-effect">
      I am a fullstack web developer / Security system specialist
    </p>
  </div>
</section>

<!-- Skills Section -->
<section id="skills" class="bg-white py-12">
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
        <h2 class="text-3xl font-bold">My Skills</h2>
        <p class="text-gray-600 mt-4 ">A blend of Security Systems Expertise and Full-Stack Web Development</p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
        <!-- Security Systems Skills -->
        <div class="bg-gray-100 shadow-md rounded-lg p-6">
            <h3 class="text-2xl font-semibold mb-4">Security Systems Expertise</h3>
            <ul class="space-y-4">
                <li class="flex items-center">
                    <div class="bg-blue-500 text-white p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 21h4v-4h-4v4zm-7-5a4 4 0 114-4h2a4 4 0 11-8 0h2zM14 8h2a4 4 0 110 8h-2m6 4h-2a4 4 0 01-4-4h2a4 4 0 008 0h2a4 4 0 01-4 4zM6 8H4a4 4 0 110-8h2a4 4 0 100 8z" />
                        </svg>
                    </div>
                    <span class="ml-4 text-lg font-medium">Access Control Systems</span>
                </li>
                <li class="flex items-center">
                    <div class="bg-blue-500 text-white p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h18M9 16h6m-6-4h6m-6-4h6m-6 8h6m-6 4h6m-6-8h6m-6-4h6m-6 8h6m-6 4h6" />
                        </svg>
                    </div>
                    <span class="ml-4 text-lg font-medium">Alarm Systems Installation & Management</span>
                </li>
                <li class="flex items-center">
                    <div class="bg-blue-500 text-white p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7l1.5 1.5a1.5 1.5 0 001 0l1.5-1.5m-3-2.5v9m18-9v9M13 7h6m-6 4h6M9 16h6m-6 4h6m-6-8h6m-6-4h6m-6 8h6m-6 4h6" />
                        </svg>
                    </div>
                    <span class="ml-4 text-lg font-medium">CCTV Systems Installation & Monitoring</span>
                </li>
            </ul>
        </div>

        <!-- Full-Stack Web Development Skills -->
        <div class="bg-gray-100 shadow-md rounded-lg p-6">
            <h3 class="text-2xl font-semibold mb-4">Full-Stack Web Development</h3>
            <ul class="space-y-4">
                <li class="flex items-center">
                    <div class="bg-green-500 text-white p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 2m0-6v6m-6-6v6m4 0l4 4M8 8l-4 4m0 0l4 4M4 12h16" />
                        </svg>
                    </div>
                    <span class="ml-4 text-lg font-medium">Frontend Development (HTML, CSS, JavaScript)</span>
                </li>
                <li class="flex items-center">
                    <div class="bg-green-500 text-white p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20v-6h4v6m-4-10V4h4v6M8 8H5m6 4h2m-2 4h4" />
                        </svg>
                    </div>
                    <span class="ml-4 text-lg font-medium">Backend Development (Node.js, Express, APIs, SQL, MongoDB)</span>
                </li>
                <li class="flex items-center">
                    <div class="bg-green-500 text-white p-2 rounded-full">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                        </svg>
                    </div>
                    <span class="ml-4 text-lg font-medium">Frameworks & Libraries (Next.js, React, SvelteKit, Astro)</span>
                </li>
            </ul>
        </div>
    </div>
  </div>
</section>

<!-- Portfolio section-->
<section id="portfolio" class="bg-gray-100 py-12">
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
        <h2 class="text-3xl font-bold">My Projects</h2>
        <p class="text-gray-600 mt-4">A selection of my recent work</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
        {projectDetails.map((project) => (
            <Card {...project} />
        ))}
    </div>
  </div>
</section>


<footer class="bg-slate-900 text-white py-6">
  <div class="container mx-auto text-center space-y-4 md:space-y-2">
    <p>&copy; {currentYear} ERWD</p>
  </div>
</footer>
</Layout>

<style>
section {
        scroll-margin-top: 90px;
      }
@keyframes clipPathAnimationAlt {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
  }
}
.animate-clip-path-alt {
  animation: clipPathAnimationAlt 0.6s ease-out forwards;
}

.typewriter-effect {
  max-width: 56%;
  border-right: 0.15rem solid #b91c1c;
  white-space: nowrap;
  overflow: hidden;
  animation:
    blinking 0.8s infinite,
    typing 1.8s steps(35, end) forwards;
}

@keyframes blinking {
  from {border-color: transparent;}
  50% {border-color: #b91c1c;}
  to {border-color: transparent;}
}

@keyframes typing {
  from {width: 0;}
  to {width: 100%;}
}

</style>